<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="static/css/public.css" />
		<link rel="stylesheet" href="static/css/demand.css" />
		<link rel="stylesheet" href="static/css/circle.css">
		<link rel="stylesheet" type="text/css" href="http://at.alicdn.com/t/font_f6768uhwygco9a4i.css"/>
		<style>
			#item1mobile .mui-pull-bottom-tips,
			#item2mobile .mui-pull-bottom-tips {
				display: none;
			}

			.not-cont-btn {
				width: 2.06rem;
				height: .72rem;
				border: 1px solid #426af0;
				display: flex;
				align-items: center;
				justify-content: center;
				color: #426af0;
				font-size: .3rem;
				border-radius: .06rem;
			}
			
			h1{
				margin: 0;
				font-weight: normal;
			}
			.header_qz{
				width: 100%;height: 0.9rem;background-color: #2ca8fe;
			}
			.header_qz h1{
				line-height:0.9rem;
				font-size: 0.36rem;
				text-align: center;
				color: #fff;
				font-weight: normal;
			}
			.header_nav{
				width: 100%;
				height: 0.8rem;
				line-height: 0.8rem;
				background: #fff;
				border-bottom: 1px solid #eee;
				display: flex;
				display: -webkit-flex;
				display: -ms-flex;
			}
			.header_nav a{
				-webkit-flex: 0.33;
				-ms-flex: 0.33;
				flex: 0.33;
				padding: 0 0.2rem;
				text-align: center;
				color: #333;
			}
			.header_nav .mui-active{
				color: #f4a136;
			}
			.header_nav a span{
				padding: 0;
				font-size: 0.34rem;
			}
			.header_nav .mui-active span{
				/*border-bottom: 1px solid #f4a136;*/
			}
			.ly_list{
				margin-top: 0.2rem;
				padding: 0 0.2rem;
				background: #fff;
			}
			.ly_list li h1{
				line-height: 1.4;
				padding: 0.2rem 0;
				font-size: 0.34rem;
				color: #333;
			}
			.ly_img{
				width: 100%;
				height: 3.8rem;
				overflow: hidden;
			}
			.ly_img img{
				display: block;
				width: 100%;
				height: auto;
			}
			.typeAA{
				width: 100%;
				margin-top: 0.16rem;
				padding-bottom: 0.16rem;
				overflow: hidden;
			}
			.typeAA a{
				float: left;
				width: 1.4rem;
				height: 0.6rem;
				line-height: 0.6rem;
				color: #FFF;
				font-size: 0.28rem;
				text-align: center;
				border-radius: 3px;
			}
			.typeAA .typeA{
				background: #4cb6ff;
			}
			.typeAA .typeB{
				background: #4cb6ff;
			}
			.typeAA .typeC{
				background: #9e9e9e;
			}
			.start_time{
				float: left;
				margin-top: 0.1rem;
				margin-left: 0.1rem;
				font-size: 0.28rem;
				color: #999;
			}
			.state{
				float: right;
				line-height: 0.7rem;
			}
			.state span{
				display: inline-block;
			}
		</style>
	</head>

	<body style="background: #f4f4f4;">
		<div class="header_qz" style="position: fixed;top: 0; z-index: 99;">
			<h1>需求</h1>
		</div>
		<div class="mui-slider mui-fullscreen" id="slider" style="top: 0.9rem;">
			<div id="sliderSegmentedControl" class="mui-segmented-control header_nav" style="overflow: visible;">
				<a id="aaa" class="mui-control-item demand-header-market" href="#item1mobile" style="overflow: visible;">
					<span>路演直播</span>
				</a>
				<a id="bbb" class="mui-control-item mui-active demand-header-market" href="#item2mobile" style="overflow: visible;">
					<span class="demand-header-market">市场需求<i class="iconfont" style="font-size: 0.26rem;">&#xe659;</i></span>
					<div class="demand-header-choose" id="naveMarket">
						<!--<span></span>-->
						<div id="all" class="demand-market-sc on" data-val="2">市场所有</div>
						<div id="mycare" class="demand-market-my" data-val="1" style="border: none;">我关注的</div>
						<div class="choose" data-val="2">筛选</div>
					</div>
				</a>
				
				<a id="ccc" class="mui-control-item demand-header-chat" href="#item3mobile">
					<span style="position: relative;">聊天
						<span class="dian" v-if="numberA!=0" style="position: absolute;right: -0.3rem;top: -0.3rem;font-size: 1.4rem;color: #ff4400;border-radius: 100%;">·</span>
					</span>
					
				</a>
			</div>
			<div class="mui-slider-group">
				<div id="item1mobile" class="mui-slider-item mui-control-content luyan">
					<div id="luyan" class="mui-scroll-wrapper lyBox" style="overflow: auto;" v-if="ly_content" v-cloak>
						<div id="app_1" class="mui-scroll" style="padding-bottom: 2rem;">
							<ul v-for="ly in ly_content" class="ly_list" :data-id="ly.id" :data-cid="ly.cid" :data-typeA="ly.status" :data-sn="ly.sn" :data-type="ly.type" :data-type_id="ly.type_id">
								<li><h1>{{ly.title}}</h1></li>
								<li class="ly_img"><img style="width: 100%;height: auto;" :src="ly.topic_photos"/></li>
								<li class="typeAA">
									<div>
										<template v-if="ly.status==0">
											<a v-if="!ly.claim" class="typeB baoming" style="background-color: #4cb6ff;" :data-id="ly.id" :data-cid="ly.cid">立即报名</a>
											<a v-else-if="ly.claim==1" class="typeC baoming" id="" :data-id="ly.id" :data-cid="ly.cid">已报名</a>
										</template>
										<a v-else-if="ly.status==1" class="typeA">正在直播</a>
										<a v-else-if="ly.status==2" class="typeC">查看回放</a>
										<a v-else-if="ly.status==4" class="typeC">查看回放</a>
										<a v-else-if="ly.status==3" class="typeC">暂停播放</a>
										<span class="start_time">{{ly.start_time}}</span>
										<!--<span class="start_time" v-if="!(ly.status==1)">{{ly.start_time}}</span>-->
										<!--<a class="typeA">正在直播</a>-->
									</div>
									<div class="state">
										<!--<span class="iconfont" style="color: #999;font-size: 0.26rem;">&#xe604;{{ly.bm_num}}</span>
										<span class="iconfont" style="color: #999;font-size: 0.26rem;">&#xe611;{{ly.look_num}}</span>-->
										<span id="company" style="font-size:0.3rem;color: #4cb6ff;" v-if="ly.type==0" :data-type_id="ly.type_id">查看详情</span>
										<span id="person" style="font-size:0.3rem;color: #4cb6ff;" v-if="ly.type==1" :data-type_id="ly.type_id">查看详情</span>
										<span class="iconfont" style="color: #999;font-size: 0.28rem;">&#xe604;{{ly.claim_nums}}</span>
										<span class="iconfont" style="color: #999;font-size: 0.28rem;">&#xe611;{{ly.views}}</span>
										
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div id="item2mobile" class="mui-slider-item mui-control-content mui-active">
					<div class="mui-scroll-wrapper">
						<div class="mui-scroll" id="app_2">
							<div class="circle-withoutlogin-box new" v-if="islogin==0">
								<div class="circle-wo-btn signin">登录/注册</div>
							</div>
							<!--<div class="not-cont" v-if="islogin==1" style="background: none;">-->
								<!--<div class="not-cont-cap">暂无内容</div>-->
								<!--<div class="not-cont-tit">您可以前往发布更多精彩 <br>的内容哦</div>-->
								<!--<div class="not-cont-btn" style="margin-top: 2.98rem;border-width: 1px;border-color: #4cb6ff;color: #4cb6ff;">发布</div>
							</div>-->
							<ul class="demand-mk-ul">
								<li class="demand-my-li" v-for="item in items" :data-id="item.id" :data-isMe="item.is_me" :data-isClaim="item.is_claim">
									<div class="demand-my-money orange f-cb" v-if="item.type==1">
										<span class="orange-block fl">悬赏</span>
										<span class="fl">&nbsp;&nbsp;￥{{item.min_money+'-'+item.max_money}}</span>
									</div>
									<div class="demand-my-info" v-html="item.intro" style="-webkit-user-select:text"></div>
									<div class="demand-my-bot f-cb">
										<div v-if="item.category" class="blue-block fl mr32" style="font-size: .2rem;margin-top: .03rem;">{{item.category}}</div>
										<div class="fr" v-if="item.type!=1" style="color: #999;">{{item.cre_time}}</div>

										<div class="demand-up fl" v-if="item.type!=3">{{item.claim_nums}}</div>
										<div class="demand-wh fl">{{item.views}}</div>

										<div class="demand-my-notPay fr" v-if="item.claim_status==0">待支付</div>
										<div class="demand-my-time fr" v-if="item.claim_status==1&&item.time!=0">
											<span class="demand-my-time-num color h">{{item.time.h}}</span> 小时
											<span class="demand-my-time-num color m">{{item.time.m}}</span> 分
											<span class="demand-my-time-num color s">{{item.time.s}}</span> 秒
										</div>
										<div class="demand-my-wait fr" v-if="item.claim_status==2">待指派</div>
										<div class="demand-my-apply fr" v-if="item.claim_status==3">申领佣金</div>
										<div style="color: #ff8415;background: none;" class="demand-my-com fr" v-if="item.claim_status==4">确认并评价</div>
										<br v-if="item.claim_status==5" /><div v-if="item.claim_status==5" style="color: #999;background: none;" class="demand-my-end fr">任务关闭</div>
										<div class="demand-my-close fr" v-if="item.claim_status==6">已撤销</div>
										<br v-if="item.claim_status==7" /><div v-if="item.claim_status==7" style="color: #999;background: none;" class="demand-my-close fr">报名结束</div>
									</div>
								</li>

							</ul>
						</div>
					</div>
				</div>
				<div id="item3mobile" class="mui-slider-item mui-control-content">
					<div class="mui-scroll-wrapper">
						<script src="https://www.sobot.com/chat/frame/js/entrance.js?sysNum=b75699ea5dc34777a33c877d4175f91f" class="zhiCustomBtn" id="zhichiScript" data-args="属性名1=属性值1&属性名2=属性值2"></script>
						<div class="mui-scroll" id="app_3" style="padding-bottom: 2rem;">
							<div class="circle-withoutlogin-box new" v-if="islogin==0">
								<div class="circle-wo-btn signin">登录/注册</div>
							</div>
							<ul class="demand-chat-ul" v-if="islogin==1">
								<li class="demand-chat-kf">
									<div class="demand-chat-ava" style="background-image:url(static/img/servicebg.png)"></div>
									<div class="demand-chat-info">
										<div class="demand-chat-name">客服</div>
										<!--<div class="demand-chat-content">{{list.lastMessage}}</div>-->
									</div>
								</li>
								<li class="demand-chat-li" v-for="list in chatlist" :data-id="list.id" style="position: relative;">
									<span id="chatnum" style="position: absolute;right: 0;top: 3px;width: 0.3rem;height: 0.3rem;line-height:0.3rem;font-size:0.2rem;text-align:center;background: #ff4400;border-radius: 100%;color: #fff;"
										v-if="list.count!=0" >{{list.count}}</span>
									<div class="demand-chat-ava" :style="{backgroundImage:'url('+list.photo+')'}"></div>
									<div class="demand-chat-info">
										<div class="demand-chat-name">{{list.uname}}</div>
										<div class="demand-chat-content">{{list.lastMessage}}</div>
									</div>
									<div class="demand-chat-time">{{list.lasttime}}</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav class="mui-bar nav-bar" id="nav"></nav>
		<!--<div class="float-release-box on">发布</div>-->
		<div class="float-release-box">发布</div>
		<!--筛选列表-->
		<div class="float-screen-box">
			<div class="float-screen-head">筛选
				<div class="float-screen-close"></div>
			</div>
			<div class="float-screen-cent">
				<div class="float-screen-tit">选择你想关注的需求分类（可多选）</div>
				<ul class="float-screen-list f-cb"></ul>
			</div>
			<div class="float-screen-btn" style="background-color: #4cb6ff;">确认</div>
		</div>

		<script src="js/jquery-2.1.0.min.js"></script>
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/mui.min.js"></script>
		<script src="js/mui.pullToRefresh.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/mui.pullToRefresh.material.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			window["SCHEMETYPE"] = "http";
		</script>
		<script src="https://cdn.ronghub.com/RongIMLib-2.2.5.min.js"></script>
		<script src="static/js/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/moment.min.js" type="text/javascript" charset="utf-8"></script>
		<!--<script src="static/js/demand.js" type="text/javascript" charset="utf-8"></script>-->
		<script src="js/angular.js" type="text/javascript" charset="utf-8"></script>
		<!--<script src="rongcloud-web-im-widget-master/js/RongIMWidget.js" type="text/javascript" charset="utf-8"></script>-->
		<script>
			mui.init();

			window.addEventListener('reload', function() {
				location.reload();

			});

			addNav(2);

			mui.ready(function() {
				var _this = this;
				var timeArr = [];

				var ly = new Vue({
					el:'#app_1',
					data:{
						ly_content:'',
					}
				})
				
				var vm_4 = new Vue({
					el:'#ccc',
					data:{
						numberA:0
					}
				})

				var vm_2 = new Vue({
					el: '#app_2',
					data: {
						items: [],
						naveState: 1,
						islogin: 1,
						status:false
					},
					updated: function() {

						_this.clearTime();
						_this.refresh();
						if(this.items.length) {
							$('#app_2 .not-cont').removeClass('on');
						} else {
							$('#app_2 .not-cont').addClass('on');
						}

						//判断有没有内容
						if(vm_2.items.length) {
							$('#item2mobile .mui-pull-bottom-tips').fadeIn();
							//							$('#item2mobile .circle-withoutlogin-box').fadeIn();
							if($('#naveMarket>div.on').attr('data-val') == 2) {
								//								$('#item2mobile .circle-withoutlogin-box').fadeIn();
							}
						} else {
							$('#item2mobile .mui-pull-bottom-tips').fadeOut();
							//							$('#item2mobile .circle-withoutlogin-box').fadeOut();
							if($('#naveMarket>div.on').attr('data-val') == 2) {
								//								$('#item2mobile .circle-withoutlogin-box').fadeOut();
							}
						}
					}
				});

				mui.plusReady(function() {
//					console.log(plus.storage.getItem('token'))
					function isActive() {
						if(plus.storage.getItem('token')) {
							var datas = {
								terminalNo: '3',
								token: plus.storage.getItem('token')
							}
							if(plus.storage.getItem('phonesContacts')) {
								datas.phones = plus.storage.getItem('phonesContacts');
							}
							mui.ajax({
								url: URL.path + '/account/new_friend_fans',
								type: 'post',
								data: datas,
								success: function(data) {
									if(data.returnCode == 200) {
										if(data.data.all_nums != 0) {
											addNav(2, true);
										} else {
											addNav(2);
										}
									} else {
										if(data.returnCode == 401) {
											unLoginComfirm();
										} else {
											mui.toast(data.msg)
										}
									}
								}
							})
						} else {
							addNav(2);
						}
					}
					isActive();
					
					var token = '';
					if(plus.storage.getItem('token')){
						token = plus.storage.getItem('token');
					}else{
						token = ''
					}
					function getPlayList(){
//						app_1.refresh(true);
						mui.ajax({
							url:URL.path + '/video/video_list',
							type:'post',
							dataType:'json',
							data:{
								token:token
							},
							success:function(data){
								console.log(data.data,'1111111111')
								ly.ly_content = data.data;
							},
							error:function(ms){
							}
						});
						
					}
					getPlayList();
					
					function getPlayListA(){
//						app_1.refresh(true);
						mui.ajax({
							url:URL.path + '/video/video_list',
							type:'post',
							dataType:'json',
							data:{
								token:token
							},
							success:function(data){
								ly.ly_content = data.data;
							},
							error:function(ms){
							}
						});
						
					}
					
					function getNumber(){
						mui.ajax({
							url:URL.path + '/chat/unread',
							type:'post',
							data:{
								token:token
							},
							success:function(data){
								vm_4.numberA = data.data.count;
								console.log(vm_4.numberA,'number')
							}
						})
					}
					getNumber();
					
					function getNumberA(){
						mui.ajax({
							url:URL.path + '/chat/unread',
							type:'post',
							data:{
								token:token
							},
							success:function(data){
								vm_4.numberA = data.data.count;
								console.log(vm_4.numberA,'number')
							}
						})
					}

					var sign_1 = {
						token: plus.storage.getItem('token'),
						cate: 0,
						page: 1
					};
					var sign_2 = {
						token: plus.storage.getItem('token'),
						cate_id: '',
						cate: 2,
						page: 1
					};

					//在线路演
					var app_1 = mui('#app_1').pullToRefresh({
						down: {
							callback: function() {
								getPlayListA();
								getNumberA();
//								newbm();
								app_1.endPullDownToRefresh();
							}
						},
//						up: {
//							callback: function() {
//								app_1.endPullUpToRefresh();
//							}
//						}
					});
					mui('body').on('tap', '#naveNeeds>div', function() {
						var val = $(this).attr('data-val');
						sign_1.cate = val;
						sign_1.page = 1;

						$('#app_1').css('transform', '');
						//						_this.clearTime();
						_this.getDemand(function(res) {
							vm.items = res;
						});
					});

					//市场需求
					var app_2 = mui('#app_2').pullToRefresh({
						down: {
							callback: function() {
								getNumberA();
								sign_2.page = 1;

								//								_this.clearTime();
								_this.getNeed(function(res) {
									vm_2.items = res;
									app_2.endPullDownToRefresh();
								});
							}
						},
						up: {
							callback: function() {

								sign_2.page += 1;

								//								_this.clearTime();
								_this.getNeed(function(res) {
									if(res.length) {
										for(var i = 0; i < res.length; i++) {
											vm_2.items.push(res[i]);
										}
//										console.log(vm.items);
										app_2.endPullUpToRefresh()
									} else {
										app_2.endPullUpToRefresh(true);
									}

								});
							}

						}
					});
					mui('body').on('tap', '#naveMarket>div', function() {
						var val = $(this).attr('data-val');
						sign_2.cate = val;
						sign_2.page = 1;
						sign_2.ids = '';
						sign_2.cate_id = '';

						$('#app_2').css('transform', '');
						$('.float-screen-list>li').removeClass('on');
						$(this).addClass('on').siblings().removeClass('on');

						_this.getNeed(function(res) {
							vm_2.items = res;

							if(val == 2 && !vm_2.items.length) {
								vm_2.islogin = 1;
							}
							if(val == 2) {
								if(vm_2.items.length) {
									$('#item2mobile .circle-withoutlogin-box').fadeOut();
								} else {
									$('#item2mobile .circle-withoutlogin-box').fadeIn();
								}
							}
						});
					});

					//获得市场需求
					_this.getNeed = function(fun) {
						var needUrl = URL.path + '/needs/market_needs'; //市场登陆后，我关注的

						//判断登陆
						if(!plus.storage.getItem('token')) {

							//判断是 所有还是 关注
							if($('#naveMarket>div.on').attr('data-val') == '1') {

							} else {
								needUrl = URL.path2 + '/common/market_needs'; //未登录状态
							}
						}

						app_2.refresh(true);
						mui.ajax({
							url: needUrl,
							type: 'post',
							dataType: 'json',
							data: sign_2,
							success: function(res) {
								if(res.returnCode == '200') {
									for(var i = 0; i < res.data.length; i++) {
										var t = parseInt(res.data[i].countdown) - parseInt(res.data[i].now_time);

										if(t > 0) {
											res.data[i]['time'] = {
												h: Math.floor(t / 60 / 60),
												m: Math.floor(t / 60 % 60),
												s: Math.floor(t % 60)
											};
										} else {
											res.data[i]['time'] = 0;
										}
									}
									$('#item2mobile .mui-pull-loading').fadeIn();
									if(typeof fun === 'function') return fun(res.data);
								} else if(res.returnCode == '401') {
									//																		unLoginComfirm();
									//								
									vm_2.islogin = 0;

									if(typeof fun === 'function') return fun([]);
								}
							}
						});
					};

					//刷新倒计时
					_this.refresh = function() {
						$('.demand-my-li').each(function() {
							var othis = $(this).find('.demand-my-time');

							if(othis.length) {

								timeArr[timeArr.length] = setInterval(function() {

									var h = parseInt(othis.find('.h').text());
									var m = parseInt(othis.find('.m').text());
									var s = parseInt(othis.find('.s').text());

									s -= 1;

									//s
									if(s == -1) {
										s = 59;
										if(m != 0) m -= 1;
									}
									//m
									if(m == 0) {
										if(h != 0) {
											m = 59;
											h -= 1;
										}
									}

									//整理格式
									if(s < 10) s = '0' + s;
									if(m < 10) m = '0' + m;
									if(h < 10) h = '0' + h;

									othis.find('.h').text(h);
									othis.find('.m').text(m);
									othis.find('.s').text(s);

									//停止计时器
									if(s == 0 && m == 0 && h == 0) {
										clearInterval(timeArr[timeArr.length - 1]);
									}

								}, 1000);

								console.log(timeArr.length)
							}
						});
					};
					_this.clearTime = function() {

						for(var i = 0; i < timeArr.length; i++) {
							clearInterval(timeArr[i]);
						}

					};

					//监听选项卡切换
					$('.float-release-box').addClass('on');
					document.getElementById('slider').addEventListener('slide', function(e) {
						$('.demand-header-choose').slideUp(200);
						switch(e.detail.slideNumber) {
							case 0:
								sign_1.page = 1;
								sign_1.cate = 0;
			//								$('.float-release-box').addClass('on');
								$('#sliderSegmentedControl a').removeClass('mui-active');
								$('#aaa').addClass('mui-active');
								$('.float-release-box').removeClass('on');
								break;
							case 1:
								sign_2.page = 1;
								sign_2.cate = 2;
			//								$('.float-release-box').removeClass('on');
								$('#sliderSegmentedControl a').removeClass('mui-active');
								$('#bbb').addClass('mui-active');
								$('.float-release-box').addClass('on');
								//								_this.clearTime();
			//								_this.getNeed(function(res) {
			//									vm_2.items = res;
			//								});
								break;
							case 2:
								$('#sliderSegmentedControl a').removeClass('mui-active');
								$('#ccc').addClass('mui-active');
								$('.float-release-box').removeClass('on');
								$('.dian').css('display','none');
								break;
						}
			
					});

					_this.getNeed(function(ress) {
						vm_2.items = ress;
					});
					//融云
					var ry = new Vue({
						el: '#item3mobile',
						data: {
							token: '',
							list: [],
							chatlist: [],
							islogin: 1
						}
					})

					var app_3 = mui('#app_3').pullToRefresh({
						down: {
							callback: function(){
								ryjs2();
								getNumberA();
							}
							
						}
					})

					function ryjs2() {

						mui.ajax({
							url: URL.path + '/account/ryAppKey',
							type: 'post',
							data: {
								token: plus.storage.getItem('token')
							},
							success: function(data) {
								if(data.returnCode = 200) {
									var appkey = data.data.Appkey;
									var ryuser = JSON.parse(plus.storage.getItem('user'));
									if(ryuser) {
										var rymyid = ryuser.id;
									}
									
									app_3.endPullDownToRefresh();
									
									RongIMClient.init(appkey);
									RongIMClient.setConnectionStatusListener({
										onChanged: function(status) {
											switch(status) {
												//链接成功
												case RongIMLib.ConnectionStatus.CONNECTED:
													console.log('链接成功');
													break;
													//正在链接
												case RongIMLib.ConnectionStatus.CONNECTING:
													console.log('正在链接');
													break;
													//重新链接
												case RongIMLib.ConnectionStatus.DISCONNECTED:
													console.log('断开连接');
													break;
													//其他设备登录
												case RongIMLib.ConnectionStatus.KICKED_OFFLINE_BY_OTHER_CLIENT:
													console.log('其他设备登录');
													break;
													//网络不可用
												case RongIMLib.ConnectionStatus.NETWORK_UNAVAILABLE:
													console.log('网络不可用');
													break;
											}
										}
									});
									// 消息监听器
									RongIMClient.setOnReceiveMessageListener({
										// 接收到的消息
										onReceived: function(message) {
											// 判断消息类型
											switch(message.messageType) {
												case RongIMClient.MessageType.TextMessage:

													break;
												case RongIMClient.MessageType.VoiceMessage:
													// 对声音进行预加载                
													// message.content.content 格式为 AMR 格式的 base64 码

													RongIMLib.RongIMVoice.preLoaded(message.content.content);
													break;
												case RongIMClient.MessageType.ImageMessage:
													// do something...
													break;
												case RongIMClient.MessageType.DiscussionNotificationMessage:
													// do something...
													break;
												case RongIMClient.MessageType.LocationMessage:
													// do something...
													break;
												case RongIMClient.MessageType.RichContentMessage:
													// do something...
													break;
												case RongIMClient.MessageType.DiscussionNotificationMessage:
													// do something...
													break;
												case RongIMClient.MessageType.InformationNotificationMessage:
													// do something...
													break;
												case RongIMClient.MessageType.ContactNotificationMessage:
													// do something...
													break;
												case RongIMClient.MessageType.ProfileNotificationMessage:
													// do something...
													break;
												case RongIMClient.MessageType.CommandNotificationMessage:
													// do something...
													break;
												case RongIMClient.MessageType.CommandMessage:
													// do something...
													break;
												case RongIMClient.MessageType.UnknownMessage:
													// do something...
													break;
												default:
													// 自定义消息
													// do something...
											}
										}
									});

									_this.getToken = function() { //获取融云token
										//													alert(rymyid)
										mui.ajax({
											url: URL.path + '/account/RygetToken',
											type: 'post',
											data: {
												id: rymyid,
												token: plus.storage.getItem('token'),
											},
											success: function(data) {
												if(data.returnCode == 200) {
													//																			alert(JSON.stringify(data.data))
													if(data.data.result) {
														ry.token = data.data.result.token;
													}

													//							alert(vm.mytoken)
													_this.connect();

												} else {
													if(data.returnCode == 401) {
														ry.islogin = 0;
														//											unLoginComfirm();
													} else {
														mui.toast(data.msg);
													}
												}
											},
											error: function(xhr, type) {
												console.log(type)
											}
										})
									}
									_this.getToken();

									_this.chatList = function() { //得到会话列表
										RongIMClient.getInstance().getConversationList({
											onSuccess: function(list) {
												// list => 会话列表集合。
												//alert(JSON.stringify(list))

												if(list.length > 0) {
													_this.getChatUser(list)
												}

											},
											onError: function(error) {
												// do something...
											}
										}, null);
									}
									_this.connect = function() { //连接融云
										//							alert(ry.token)
										RongIMClient.connect(ry.token, {
											onSuccess: function(userId) {
												console.log("Login successfully." + userId);
												_this.chatList();
											},
											onTokenIncorrect: function() {
												console.log('token无效');
											},
											onError: function(errorCode) {
												var info = '';
												switch(errorCode) {
													case RongIMLib.ErrorCode.TIMEOUT:
														info = '超时';
														break;
													case RongIMLib.ErrorCode.UNKNOWN_ERROR:
														info = '未知错误';
														break;
													case RongIMLib.ErrorCode.UNACCEPTABLE_PaROTOCOL_VERSION:
														info = '不可接受的协议版本';
														break;
													case RongIMLib.ErrorCode.IDENTIFIER_REJECTED:
														info = 'appkey不正确';
														break;
													case RongIMLib.ErrorCode.SERVER_UNAVAILABLE:
														info = '服务器不可用';
														break;
												}
												console.log(errorCode);
											}
										});
									}

									_this.getChatUser = function(list) { //服务端请求用户数据

										var usersIdArry = [];
										for(var i in list) {
											usersIdArry.push(list[i].targetId)
										}
										console.log(usersIdArry,'usersIdArry');
										var usersId = usersIdArry.join(',');
										//						alert(usersId)
										mui.ajax({
											url: URL.path + '/chat/info',
											type: 'post',
											data: {
												terminalNo: '3',
												token: plus.storage.getItem('token'),
												ids: usersId
											},
											success: function(data) {
												if(data.returnCode == 200) {
													//																		alert(JSON.stringify(list))
													console.log(data.data,'data.data');
													for(var i in data.data) {
														var datas = data.data[i];
														datas.photo = datas.photo ? datas.photo : 'static/img/avatar.png';
														datas.lastMessage = list[i].latestMessage ? list[i].latestMessage.content.content : '';
														datas.lasttime = moment(list[i].latestMessage.sentTime).format('MM-DD HH:mm');
														datas.id = list[i].targetId;
													}
													//									alert(JSON.stringify(data.data))
													ry.chatlist = data.data;

													//									alert(JSON.stringify(ry.chatlist))
												} else {
													if(data.returnCode == 401) {
														unLoginComfirm();
													} else {
														mui.toast(data.msg)
													}
												}
											},
											error: function(xhr, type) {
												console.log(type)
											}
										})
									}
								}
							}
						})

					}

					function ryjs() {

						mui.ajax({
							url: URL.path + '/account/ryAppKey',
							type: 'post',
							data: {
								token: plus.storage.getItem('token')
							},
							success: function(data) {
								if(data.returnCode = 200) {
									var appkey = data.data.Appkey;
									var ryuser = JSON.parse(plus.storage.getItem('user'));
									if(ryuser) {
										var rymyid = ryuser.id;
									}
									RongIMClient.init(appkey);
									RongIMClient.setConnectionStatusListener({
										onChanged: function(status) {
											switch(status) {
												//链接成功
												case RongIMLib.ConnectionStatus.CONNECTED:
													console.log('链接成功');
													break;
													//正在链接
												case RongIMLib.ConnectionStatus.CONNECTING:
													console.log('正在链接');
													break;
													//重新链接
												case RongIMLib.ConnectionStatus.DISCONNECTED:
													console.log('断开连接');
													break;
													//其他设备登录
												case RongIMLib.ConnectionStatus.KICKED_OFFLINE_BY_OTHER_CLIENT:
													console.log('其他设备登录');
													break;
													//网络不可用
												case RongIMLib.ConnectionStatus.NETWORK_UNAVAILABLE:
													console.log('网络不可用');
													break;
											}
										}
									});
									// 消息监听器
									RongIMClient.setOnReceiveMessageListener({
										// 接收到的消息
										onReceived: function(message) {
											// 判断消息类型
											switch(message.messageType) {
												case RongIMClient.MessageType.TextMessage:

													break;
												case RongIMClient.MessageType.VoiceMessage:
													// 对声音进行预加载                
													// message.content.content 格式为 AMR 格式的 base64 码

													RongIMLib.RongIMVoice.preLoaded(message.content.content);
													break;
												case RongIMClient.MessageType.ImageMessage:
													// do something...
													break;
												case RongIMClient.MessageType.DiscussionNotificationMessage:
													// do something...
													break;
												case RongIMClient.MessageType.LocationMessage:
													// do something...
													break;
												case RongIMClient.MessageType.RichContentMessage:
													// do something...
													break;
												case RongIMClient.MessageType.DiscussionNotificationMessage:
													// do something...
													break;
												case RongIMClient.MessageType.InformationNotificationMessage:
													// do something...
													break;
												case RongIMClient.MessageType.ContactNotificationMessage:
													// do something...
													break;
												case RongIMClient.MessageType.ProfileNotificationMessage:
													// do something...
													break;
												case RongIMClient.MessageType.CommandNotificationMessage:
													// do something...
													break;
												case RongIMClient.MessageType.CommandMessage:
													// do something...
													break;
												case RongIMClient.MessageType.UnknownMessage:
													// do something...
													break;
												default:
													// 自定义消息
													// do something...
											}
										}
									});

									_this.getToken = function() { //获取融云token
										//													alert(rymyid)
										mui.ajax({
											url: URL.path + '/account/RygetToken',
											type: 'post',
											data: {
												id: rymyid,
												token: plus.storage.getItem('token'),
											},
											success: function(data) {
												if(data.returnCode == 200) {
													//																			alert(JSON.stringify(data.data))
													if(data.data.result) {
														ry.token = data.data.result.token;
													}

													//							alert(vm.mytoken)
													_this.connect();

												} else {
													if(data.returnCode == 401) {
														ry.islogin = 0;
														//											unLoginComfirm();
													} else {
														mui.toast(data.msg);
													}
												}
											},
											error: function(xhr, type) {
												console.log(type)
											}
										})
									}
									_this.getToken();

									_this.chatList = function() { //得到会话列表
										RongIMClient.getInstance().getConversationList({
											onSuccess: function(list) {
												// list => 会话列表集合。
												//alert(JSON.stringify(list))

												if(list.length > 0) {
													_this.getChatUser(list)
												}

											},
											onError: function(error) {
												// do something...
											}
										}, null);
									}
									_this.connect = function() { //连接融云
										//							alert(ry.token)
										RongIMClient.connect(ry.token, {
											onSuccess: function(userId) {
												console.log("Login successfully." + userId);
												_this.chatList();
											},
											onTokenIncorrect: function() {
												console.log('token无效');
											},
											onError: function(errorCode) {
												var info = '';
												switch(errorCode) {
													case RongIMLib.ErrorCode.TIMEOUT:
														info = '超时';
														break;
													case RongIMLib.ErrorCode.UNKNOWN_ERROR:
														info = '未知错误';
														break;
													case RongIMLib.ErrorCode.UNACCEPTABLE_PaROTOCOL_VERSION:
														info = '不可接受的协议版本';
														break;
													case RongIMLib.ErrorCode.IDENTIFIER_REJECTED:
														info = 'appkey不正确';
														break;
													case RongIMLib.ErrorCode.SERVER_UNAVAILABLE:
														info = '服务器不可用';
														break;
												}
												console.log(errorCode);
											}
										});
									}

									_this.getChatUser = function(list) { //服务端请求用户数据

										var usersIdArry = [];
										for(var i in list) {
											usersIdArry.push(list[i].targetId)
										}
										var usersId = usersIdArry.join(',');
										//						alert(usersId)
										mui.ajax({
											url: URL.path + '/chat/info',
											type: 'post',
											data: {
												terminalNo: '3',
												token: plus.storage.getItem('token'),
												ids: usersId
											},
											success: function(data) {
												if(data.returnCode == 200) {
													//																		alert(JSON.stringify(list))
													console.log(data.data,'data.data')
													for(var i in data.data) {
														var datas = data.data[i];
														datas.photo = datas.photo ? datas.photo : 'static/img/avatar.png';
														datas.lastMessage = list[i].latestMessage ? list[i].latestMessage.content.content : '';
														datas.lasttime = moment(list[i].latestMessage.sentTime).format('MM-DD HH:mm');
														datas.id = list[i].targetId;
													}
													//									alert(JSON.stringify(data.data))
													ry.chatlist = data.data;

													//									alert(JSON.stringify(ry.chatlist))
												} else {
													if(data.returnCode == 401) {
														unLoginComfirm();
													} else {
														mui.toast(data.msg)
													}
												}
											},
											error: function(xhr, type) {
												console.log(type)
											}
										})
									}
								}
							}
						})

					}
					window.addEventListener('showShare', function() {
						ryjs()
					})

					ryjs() //聊天js

					mui('body').on('tap', '.demand-chat-li', function() {
						var id = this.getAttribute('data-id');
						var token = plus.storage.getItem('token');
						mui.ajax({
							url:URL.path +　'/chat/read',
							type:'post',
							data:{
								id:id,
								token:token
							},
							success:function(data){
								console.log(data,'3333');
								document.querySelector('#chatnum').style.display = 'none';
							}
						})
						Power(function() {
							mui.openWindow({
								url: 'chat-main.html',
								id: 'chat-main.html',
								extras: {
									cid: id
								}
							})
						})

					})

					mui('body').on('tap', '.demand-chat-kf', function() {
						//						var id = this.getAttribute('data-id');
						mui.openWindow({
							url: 'chat-kf.html',
							id: 'chat-kf.html',
						})
					})

					mui('body').on('tap', '.demand-header-choose>div', function() {
						$(this).addClass('on').siblings().removeClass('on');
					});

					mui('.mui-scroll-wrapper').scroll({
						bounce: false,
						indicators: true //是否显示滚动条
					});

					//跳转内页 我的
					mui('#item1mobile').on('tap', '.demand-my-li', function() {
						var id = $(this).attr('data-id');

						GO('demand-info', {
							sign: id
						}, true)
					});

					//跳转内页 市场
					mui('#item2mobile').on('tap', '.demand-my-li', function() {
						var id = $(this).attr('data-id');
						var isMe = parseInt($(this).attr('data-isMe'));
						var isClaim = parseInt($(this).attr('data-isClaim'));

						if(!plus.storage.getItem('token')) {
							mui.confirm('您还未登录', '确认', ['去登录', '取消'], function(res) {
								if(res.index == 0) {
									BackLogin()
								}
							})
						} else {
							if(isMe == 1 || isClaim == 1) {
								GO('demand-info', {
									sign: id
								}, true)
							} else {
								GO('demand-infos', {
									sign: id
								}, true)
							}
						}
					});

					//显示下拉菜单
					mui('body').on('tap', '.mui-control-item', function() {
						if($(this).hasClass('mui-active')) {
							$(this).find('.demand-header-choose').slideToggle(200);
						}
					});

					//发布
					mui('body').on('tap', '.float-release-box,.not-cont-btn', function() {
						Power(function() {
							GO('demand-release', {}, true)
						})

					});

					//打开筛选
					mui('body').on('tap', '.choose', function() {
						if(plus.storage.getItem('token')) {
							$('.float-screen-box').addClass('on');
							mui.ajax({
								url: URL.path + '/needs/get_category',
								type: 'post',
								dataType: 'json',
								data: {
									token: plus.storage.getItem('token')
								},
								success: function(res) {
									if(res.returnCode == '200') {

										var html = "<li data-id='30'>所有悬赏</li>";
										for(var i = 0; i < res.data.length; i++) {
											html += "<li data-id='" + res.data[i].id + "'>" + res.data[i].title + "</li>";
										}
										$('.float-screen-list').html(html);
									} else if(res.returnCode == '401') {
										unLoginComfirm();
									}
								}
							});
						} else {
							mui.toast('您还未登录');
						}

					});

					//关闭筛选
					mui('body').on('tap', '.float-screen-close', function() {
						$('.float-screen-box').removeClass('on');
					});

					//确认筛选
					mui('body').on('tap', '.float-screen-btn', function() {
						var ids = '',
							idi = 0;

						$('.float-screen-box').removeClass('on');
						$('.float-screen-list>li').each(function(i) {
							var id = $(this).attr('data-id');

							if($(this).hasClass('on')) {
								if(idi == 0) {
									ids = id;
								} else {
									ids += ',' + id;
								}
								idi++;
							}
						});

						sign_2.page = 1;
						sign_2.cate_id = ids;

						//						_this.clearTime();
						_this.getNeed(function(res) {
							vm_2.items = res;
						});
					});

					window.addEventListener('refreshChatList', function(e) {　
						ryjs()
					});
					
					
					function newbm(){
						mui.ajax({
							url:URL.path + '/needs/claim_needs',
							type:'post',
							dataType:'json',
							data:{
								token:token,
								need_id:id,
								cid:cid
							},
							success:function(fa){
								mui.toast(fa.msg);
								newThis[0].innerHTML = '已报名';
								newThis[0].style.backgroundColor = '#9e9e9e';
//								$('.baoming').css('background-color','#9e9e9e');
							},
							error:function(sm){
								mui.toast(sm.msg)
							}
						})
					}
					
					//立即报名
					mui('body').on('tap','.baoming',function(e){
						if(token==''){
							mui.toast('您还未登录，请先登录')
						}else{
						var id = this.getAttribute('data-id');
						var cid = this.getAttribute('data-cid');
						var newThis = $(this);
						console.log(newThis,'newThis');
						mui.ajax({
							url:URL.path + '/needs/claim_needs',
							type:'post',
							dataType:'json',
							data:{
								token:token,
								need_id:id,
								cid:cid
							},
							success:function(fa){
								mui.toast(fa.msg);
								newThis[0].innerHTML = '已报名';
								newThis[0].style.backgroundColor = '#9e9e9e';
//								$('.baoming').css('background-color','#9e9e9e');
							},
							error:function(sm){
								mui.toast(sm.msg)
							}
						})
						e.stopPropagation();
						}
					})

							//点击进入直播详情页
					mui('body').on('tap', '.ly_list', function() {
						if(!(plus.storage.getItem('token'))){
							mui.toast('您还未登录，请先登录');
							GO('signin');
							return;
						}else{
						var id = this.getAttribute('data-id');
						var eee = this.getAttribute('data-cid');
						var type = this.getAttribute('data-typeA');
						var sn = this.getAttribute('data-sn');
						var type_id = this.getAttribute('data-type_id');
						var user = JSON.parse(plus.storage.getItem('user'));
						console.log(user,'user');
						vm_2.status = false;
						if(type==0){
							mui.toast('直播尚未开始');
						}else if(type==1){
								mui.ajax({
									url:URL.path + '/video/set_onlinenumber',
									type:'post',
									data:{
										type:1,
										id:id,
										token:plus.storage.getItem('token')
									},
									success:function(data){
			
									}
								})
								mui.ajax({
									url:URL.path + '/needs/claim_list',
									type:'post',
									dataType:'json',
									data:{
										token:plus.storage.getItem('token'),
										need_id:id,
										cid:eee
									},
									success:function(aaa){
										console.log(aaa.data,'aaa.data');
										var length = aaa.data.length;
										for(var i=0;i<length;i++){
											if(aaa.data[i].uname==user.nickname){
												vm_2.status = true;
												break;
											}
										}
										if(vm_2.status==false){
											mui.toast('观看直播请提前报名');
											vm_2.status = false;
											return false;
										}else{
											Power(function() {
												mui.openWindow({
													url: 'luyan-details.html',
													id: 'luyan-details.html',
													extras: {
														uid:id,
														dd:eee,
														sn:sn,
														type:type,
														type_id:type_id
													}
												})
											})
										}
									}
								})						
						}else if(type==2){
							Power(function() {
								mui.openWindow({
									url: 'luyan-details.html',
									id: 'luyan-details.html',
									extras: {
										uid:id,
										dd:eee,
										sn:sn,
										type:type,
										type_id:type_id
									}
								})
							})
						}else if(type==3){
							mui.toast('抱歉，此直播视频尚未开放')
						}else if(type==4){
							mui.ajax({
								url:URL.path + '/needs/claim_list',
								type:'post',
								dataType:'json',
								data:{
									token:plus.storage.getItem('token'),
									need_id:id,
									cid:eee
								},
								success:function(aaa){
									var length = aaa.data.length;
									for(var i=0;i<length;i++){
										if(aaa.data[i].uname==user.nickname){
											vm_2.status = true;
											break;
										}
									}
									if(vm_2.status==false){
										mui.toast('抱歉，该视频仅对报名用户开放');
										vm_2.status = false;
										return false;
									}else{
										Power(function() {
											mui.openWindow({
												url: 'luyan-details.html',
												id: 'luyan-details.html',
												extras: {
													uid:id,
													dd:eee,
													sn:sn,
													type:type,
													type_id:type_id
												}
											})
										})
									}
								}
							})
						}
						}
					})
					
					//进入公司或个人主页
					mui('body').on('tap', '#company', function(e) {
						e.stopPropagation();
						if(!plus.storage.getItem('token')) {
							//mui.toast('您还未登录'); 
							GO('signin')
							return;
						}
						var type_id = this.getAttribute('data-type_id');
						mui.openWindow({
							url: 'homepage-company.html',
							id: 'homepage-company.html',
							extras: {
								cid: type_id
							}
						})						
					})
					
					mui('body').on('tap', '#person', function(e) {
						e.stopPropagation();
						if(!plus.storage.getItem('token')) {
							//mui.toast('您还未登录'); 
							GO('signin')
							return;
						}
						var type_id = this.getAttribute('data-type_id');
			//			console.log('type_id',type_id);
						mui.openWindow({
							url: 'homepage-personal.html',
							id: 'homepage-personal.html',
							extras: {
								rid: type_id
							}
						})						
					})


					//筛选选择
					mui('body').on('tap', '.float-screen-list>li', function() {
						if($(this).hasClass('on')) {
							$(this).removeClass('on');
						} else {
							$(this).addClass('on');
						}
					});

					mui('body').on('tap', '#nav_home', function() {
						GO('home', {}, true)
					});
					mui('body').on('tap', '#nav_circle', function() {
						GO('circle', {}, true)
					});
					mui('body').on('tap', '#nav_demand', function() {
						GO('demand', {}, true)
					});
					mui('body').on('tap', '#nav_my', function() {
						GO('my', {}, true)
					});
					//					mui('body').on('tap', '#signin', function() {
					//						GO('signin')
					//					})
					mui('body').on('tap', '.signin', function() {
						GO('signin')
					})
				});

			});
		</script>
	</body>

</html>